*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: capitalize;
  text-align: center;
  line-height: 1.5em;
}

#main-wrapper {
  width: 100vw;
  height: 100vh;
}

#img-wrapper {
  width: 50vw;
  height: 100vh;
  float: left;
  display: flex;
}

#user-photo {
  width: 100%;
  height: 100%;
}

#user-info {
  width: 50vw;
  height: 100%;
  float: left;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  margin: 0;
}

#generate-user-btn {
  width: 100%;
  border: 0;
  padding: 20px;
  height: 60px;
  background: #000;
  color: #fff;
  margin-bottom: 5px;
  font-size: 1.1em;
  text-align: center;
  cursor: pointer;
  outline: none;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.2;
}

.info {
  margin-bottom: 40px;
  font-size: 1.1em;
}

.icons {
  stroke-width: 1;
}

.title {
  font-size: 0.7em;
}

.spacebar-text {
  font-size: 0.6em;
  opacity: 0.3;
  text-transform: initial;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.5em;
  position: absolute;
  bottom: 20px;
  opacity: 0.7;
  transition: all 0.3s;
}

a:hover {
  opacity: 1;
}

.ext-link {
  transform: scale(0.5);
  stroke-width: 1;
}

.email {
  text-transform: lowercase;
}

@media screen and (max-width: 700px) {
  #img-wrapper {
    width: 100vw;
    height: 20%;
    float: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  #user-photo {
    width: 40%;
    height: initial;
    transform: scale(0.4);
    border-radius: 50%;
  }

  #user-info {
    width: 100vw;
    height: 80%;
    float: none;
    padding: 0;
  }

  #generate-user-btn {
    width: 50%;
  }

  .spacebar-text {
    display: none;
  }

  .icon-container {
    flex-direction: row;
  }

  .icons {
    margin-right: 6px;
  }

  .title {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 375px) {
  #img-wrapper {
    height: 15%;
  }

  #user-photo {
    width: 50%;
    transform: scale(0.6);
  }

  #user-info {
    height: 85%;
    padding: 0 20px;
  }

  #generate-user-btn {
    width: 100%;
  }

  a {
    bottom: 10px;
  }
}
